 
    *{

     margin: 0;
     padding:0;

    }

    .right-menu li{

    display: inline-block;
    margin-top: 30px !important;

    }
    .right-menu li .fa {
   
   font-size: 18px;
   margin-right: 10px;
   cursor: pointer;

    }
/*-----------------Navbar section---------------------------*/
    .navbar-brand img{

    	width: 100px;
    	margin-top: -31px;
    }
     .navbar-brand{
     left: 50%; 
     top: 25px;
     transform: translateX(-50%);
     position: absolute;

     }
     .header{

      background: #75ce38b5;

     }
     .navbar{

     	padding: -3 35px !important;
     }
     .navbar-toggler{
      
      border: none !important;
      outline: none !important;
      padding: 0 !important;
      margin-top: 30px;

     }
     .navbar-toggler .fa {
   
     font-size: 30px;
     cursor: pointer;

     }


     .banner img{

     	margin: 80px 115px;
     	width: 50%;
     }

     .banner img .img
     {
     width: 100%;
     margin-bottom: -80px;
     }
     .banner{
     position: relative;

     }

     .banner-title
     {
    position: absolute;
    left: 50%;
    top: 20%;
     }

    .banner-title h1{
   font-size: 55px;
   background: rgb(0,0,0,0.75);
   color:#fff;
   line-height: 70px;
   padding: 0 10px 0 10px; 
    }

    /*-----------------------fashion-trends--------------------------*/

.fashion-trends{

	padding: 100px 0;
}
.fashion-box{

padding: 80px 0;

}
.title-style h1{

padding: 40px 0;

}
.title-style{

margin: 0 auto 80px;
height: 120px;
width: 80%;
max-width: 700px;
background: #fff;
position: relative;
box-shadow: 0 4px 5px 0 rgb(0,0,50,0.5)
}
.title-style::after{

content: '';
height: 100px;
width: 200px;
background-color: #f992a6;
position: absolute;
top: -10px;
left: -10px;
z-index: -1;
}
.title-style::before {
content: '';
height: 100px;
width: 200px;
background-color: #f992a6;
position: absolute;
bottom: -10px;
right:  -10px;
z-index: -1;
}
.trending-img{

position: relative;
margin-bottom: 15px;

}
.trending-img img{
height: 300px;
 width: 100%;
}

.btn-buy{

width: 150px;
padding: 10px 0;
outline: none;
border: 0;
border-radius: 2px;
position: absolute;
background: #fff;
left: 50%;
bottom: 0;
transform: translate(-50%,0);
transition: .6s;
opacity: 0;
z-index: 1;
}
.trending-img:hover .btn-buy{
transform: translate(-50%,50%);
bottom: 50%;
opacity: 1;

}

.overlay{
height: 0;
width: 100%;
background: #333;
position: absolute;
top: 0;
opacity: .5;
transition: .5s;
}
.trending-img:hover .overlay
{
opacity: .5;
height: 100%;

}



/*---------------offer-------------------*/

.offer{

 background-image: url(image/pic.jpg);
 background-size: cover;
 background-position: center;
 color: #fff;
}

.row{

	margin: initial !important;
}
.subscribe{

  max-width: 500px;
  margin-top: 80px;
  padding: 60px;
  background: #ffffff8c;
  margin-bottom: 20px;

}
.subscribe a{

 width: 100px;
 display: block;
 color: #fff! important;
 background: #000;
 text-decoration: none;
 padding: 5px;
 text-align: center;

}
.offer img{

 width: 300px;
 height: 400px;
 margin: -100px;
 margin-top: 150px;

}
/*---------------fashion-blog-------------------*/

.fashion-blog{
	margin: 250px 0 150px 0;
}
.blog-img{

margin-top: 50px;
height: 300px;
width: 300px;
display: inline-block;
}
.blog-img img{
 
width: 100%;
height: 100%;
}
.fashion-blog h5{
 margin-top: 20px;
 font-weight: bold;
}

/*-------------------fashion-brand----------------------*/
.fashion-brands{

 margin-bottom: 150px;

}
.brand-logo{

width: 200px;
height: 200px;
background: #fff;
border-radius: 50%;
margin: 50px auto 30px;
box-shadow: 0 2px 40px 0 rgba(110,130,208,.18);

}

.brand-logo img{

width: 100px;
margin: 50px auto;

}
.fashion-brands p {

 margin-top: 30px;
 font-weight: bold;

}

/*---------------footer----------------------*/

.footer
{

  margin-top: 150px;
  background: #99ac9e;
}

.payment,.insta-img,.app-download{
 margin: 50px auto;
}

.payment img
{
 width: 300px;
 cursor: pointer;
}

.insta-img img {

width: 100px;
padding: 5px;
cursor: pointer;

}
.app-download img{

	width: 200px;
}

.footer h5{
margin-bottom: 50px;

}
.footer-icons{
text-align: right;

}
.footer-icons .fa{

 margin: 0 10px auto;
 font-size: 20px;
 cursor: pointer;

}

/*------------for small device responsive------------------*/

@media only screen and (max-width: 900px)
{

.banner-img{
 margin: 40px auto;
 width: 80%;
}

.banner-title{
top: 150px;
left: 50%;
transform: translateX(-50%);

}
.banner-title h1{

  font-size: 16px;
  padding: 5px;
 line-height: 20px;
}
.title-style h1 {
    padding: 15px 0;
    font-size: 25px
}
.offer img{

 margin-top: 20px !important;
 margin-bottom: 0 !important;

}
.footer-icons
{
text-align: center;
}
.copyright
{
text-align: center;
}
}
